﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Manikanteswara Rao Earla<br />
    1115 N Clg Dr, Apt 73<br />
    Maryville, MO - 64468 <br/>
    <abbr title="Phone">P:</abbr>
   660.528.0910
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s528120@nwmissouri.edu">s528120@nwmissouri.edu</a><br />
   
</address>
